---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout
  title={"Home"}
  bgMobile={"bg-mobile"}
  bgTablet={"md:bg-tablet"}
  bgDesktop={"lg:bg-desktop"}
>
  <main class="mt-[20%] text-center mx-auto flex flex-col 
  md:col-start-3 md:col-end-11 md:row-start-4  md:mt-0  md:h-fit md:w-fit
  lg:flex-row lg:col-span-full lg:justify-between lg:row-start-5">
    <section class="lg:w-[40%]">
      <span class="block tracking-widest text-[clamp(16px,2.7vw,28px)]">SO, YOU WANT TO TRAVEL TO</span>
      <span class="font-bellefair text-white text-[80px] block md:text-[150px]">SPACE</span>
      <p class="leading-relaxed">
        Let's face it; if you want to go to space, you might as well genuinely go
        to outer space and not hover kind of on the edge of it. Well sit back, and
        relax because we'll give you a truly out of this world experience!
      </p>
    </section>
    <section class="mt-[35%] lg:mt-[10%]">
      <div class="lg:inline-block lg:relative lg:before:absolute lg:before:top-[50%] lg:before:left-[50%] lg:before:-translate-x-1/2 lg:before:-translate-y-1/2 lg:before:w-[242px] lg:before:h-[242px] lg:before:bg-[rgb(255,255,255,0.136)] lg:before:rounded-full lg:before:z-[-1] lg:before:opacity-0 lg:before:transition lg:before:ease-in-out lg:hover:before:-translate-x-1/2 lg:hover:before:-translate-y-1/2 lg:hover:before:opacity-100 lg:hover:before:scale-[1.25]">
        <span
          class="cursor-pointer bg-white rounded-full w-[150px] h-[150px] m-auto flex justify-center items-center text-xl text-[#0B0D17] font-bellefair md:w-[242px] md:h-[242px] md:text-3xl "
          >EXPLORE
        </span>
      </div>
    </section>
  </main>
</BaseLayout>
