<header class="flex">
    <button class="">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48"><g fill="none" fill-rule="evenodd"><circle cx="24" cy="24" r="24" fill="#FFF"/><path fill="#0B0D17" d="M24 0c0 16-8 24-24 24 15.718.114 23.718 8.114 24 24 0-16 8-24 24-24-16 0-24-8-24-24z"/></g></svg>
    </button>
    <nav>
        <ul class="list-decimal">
            <li>
                <a href="../pages/index.astro">HOME</a>
            </li>
            <li>
                <a href="../pages/destination-moon.astro">DESTINATION</a>
            </li>
            <li>
                <a href="./index.astro">CREW</a>
            </li>
            <li>
                <a href="./index.astro">TECHNOLOGY</a>
            </li>
        </ul>
    </nav>
</header>