---
const listItemStyle = "md:hidden lg:inline";
const borderBottomStyle = "md:border-solid md:border-b-2";
const borderBottomHoverStyle = "lg:hover:border-solid lg:hover:border-b-2 lg:hover:border-b-neutral-400	";
const listItems = [
          ["00","HOME", "/", listItemStyle],
          ["01","DESTINATION", "destination/", listItemStyle],
          ["02","CREW", "crew/", listItemStyle],
          ["03","TECHNOLOGY", "technology/", listItemStyle],
        ];
const path = Astro.url.pathname;
---
<header class="mt-6 flex items-center lg:col-span-full lg:mt-10 lg:h-fit">
  <div class="invisible z-10 w-[474px] border-b-[1px] border-[rgb(255,255,255,0.25)] lg:visible "></div>
  <div class="lg:relative lg:right-[50%]">
    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48"
      ><g fill="none" fill-rule="evenodd"
        ><circle cx="24" cy="24" r="24" fill="#FFF"></circle><path
          fill="#0B0D17"
          d="M24 0c0 16-8 24-24 24 15.718.114 23.718 8.114 24 24 0-16 8-24 24-24-16 0-24-8-24-24z"
        ></path></g
      ></svg
    >
  </div>
  <button class="hamburger md:hidden">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="21"
      ><g fill="#D0D6F9" fill-rule="evenodd"
        ><path d="M0 0h24v3H0zM0 9h24v3H0zM0 18h24v3H0z"></path></g
      ></svg
    >
  </button>
  <nav
    class="menu bg-[rgb(255,255,255,0.04)] absolute h-screen w-2/3 top-0 right-0 backdrop-blur-3xl flex flex-col p-8 invisible transition duration-300 ease-in-out opacity-0 
            md:visible md:opacity-100 md:p-0 md:h-24 md:w-7/12 md:justify-center 
            lg:top-4"
  >
    <button class="close self-end mb-16 md:hidden">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21"
        ><g fill="#D0D6F9" fill-rule="evenodd"
          ><path d="M2.575.954l16.97 16.97-2.12 2.122L.455 3.076z"></path><path
            d="M.454 17.925L17.424.955l2.122 2.12-16.97 16.97z"></path></g
        ></svg
      >
    </button>
    <ul
      class="text-white flex flex-col justify-center gap-9 font-barlow tracking-widest 
            md:flex-row md:h-full"
    >
      {
        listItems.map(([num,title, url, style]) => (
          <li class={ "flex flex-col justify-center lg:hover:cursor ".concat(path === url ? borderBottomStyle : borderBottomHoverStyle)}>
            <a href={url}>
              <b class={style}>{num}</b> {title}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
