---
const { routes, listStyles, listItemStyle, extraItemStyle = "", navStyles = "" } = Astro.props;
const pathName = Astro.url.pathname
---

<nav class={navStyles}>
  <ul class={" flex justify-around w-[237.5px] mx-auto md:w-[285.5px] lg:ml-0 lg:justify-between " + listStyles}>
    {
      routes.map(([name, route]) => (
        <li
          class={listItemStyle + ` ${route === pathName && "text-white border-b-2 border-b-white " + extraItemStyle}`}
        >
          <a href={route} class="block h-full content-center">
            {name}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
