---
import json from "../pages/data.json";
const destinations = json.destinations;
let index = 0;
console.log(destinations)
---
<img id="prueba" src={destinations[index].images.webp} alt="" srcset="" class="hover:cursor-pointer">
<main>
<nav></nav>
<section></section>
<section></section>
</main>
